/*style file for GREENSLOPES*/
/*Last Updated August 3, 2018*/

/*Document Global Properties*/

body {
   color: #030303;
   font: 16px/200%;
   font-family: arial, sans-serif;
   background-color: #f8f8f8;
   }
a { color: #105456;
   text-decoration: none;
   padding: 2px;
   }
a:hover {
   color: #C8C372;
   }

/*Headers*/
h1 {text-align:left;}
h1 {min-width:800px;}
h1 {font-size:1.75em;}
h1 {color: #1e4d2b;}
h1 {font-family:"arial","sans-serif";}

h2 {font-weight:bold;}
h2 {font-size:1.2em;}
h2 {color: #000000;}
h2 {font-family:"Arial","sans-serif";}
h2 {margin-left: 20px;}
h2 {margin-bottom: 0px;}

/*Paragraph margin. Mostly for abstracts section.*/
p {text-indent: 40px;}
p {margin-top: 0px;}

/*Some div tags for the main content*/
#content   { background-color: #f8f8f8;
   margin: 50px auto auto;
   width: 900px;
   height: auto
}

/*Style for the banner at the top of the page.*/
#banner {
   font-size: 8em;
   color: #1E4D2B;
   font-family:"Arial","sans-serif";
}

/*Formatting of the schedule table.*/
#labels {
   font-weight: bold;
   color: #000000;
}

th, td {
    padding: 5px;
    text-align: left;
}

.center
{
margin:auto;
width:70%;
}

/*Formatting for links at the bottom of the page.*/
.footer
{
   text-align:center;
   font-size:.75em;
}
